.form{
    height: 40px;
    &__group{
        width: 50px;
        height: 20px;
        margin: 40px;
        padding-top: 40px;
    }
    &__input{
        font: 40px;
        font-weight: 900;
        color: rgb(8, 8, 8);
        
    }
    &__label{
        font: 40px;
        font-weight: 900;
        color: cornsilk;
        word-spacing: 2px;
        
    }
}