.container{
    display: flex;
    flex-direction: row;
    
    }
    .item{
        margin: 25px;
        
    }
.textbox{
    position: absolute;
    top: 20%;
    color:  
    rgba(46, 0, 0,0.8);
   
  
}
