.row {
    max-width: 114rem;
   
 max-height: max-content;
 margin-bottom: 30px;
    overflow: hidden;
   
   
}
.col-1-of-3{
 width: 21.5rem;
 padding: 1.5rem;
 float: left;
 height: 30rem;
 
 

}
.col-1-of-2{
    
    display: inline-block;
    padding: 2rem;
   padding-right: 17rem;
   &:last-child{
       padding-right: 0;

   }
    

}
   
.marg{
   margin-bottom: 30px;
  
}
.marg1{
    margin-top: 0rem;
}

.row1{
    max-width: 114rem; 
    margin-bottom: 10px;
    opacity: 0.9;
}